# shellcheck shell=bash

# If `.env` exists, load it
# This is useful to store secrets and making them available to the shell
# without risking exposing them.
dotenv_if_exists

# For this to work, you will need to add:
# https://github.com/JP-Ellis/dotfiles/blob/c6b01b8cd633189920ded05b1201e4c32e9e597f/direnv/direnvrc#L26-L39
# to your `direnvrc` file (usually located at `~/.config/direnv/direnvrc`)
layout hatch
