---
default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt

  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.1
    hooks:
      # As above, this only checks for valid JSON files. This implementation
      # allows for comments within JSON files.
      - id: check-json5

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.4.4
    hooks:
      - id: biome-check

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        exclude: |
          (?x)^(
            (src/pact|tests|examples)/v2/.*\\.pyi?
          )$
        args:
          - --fix
          - --exit-non-zero-on-fix
      - id: ruff-format
        exclude: |
          (?x)^(
            (src/pact|tests|examples)/v2/.*\\.pyi?
          )$

  - repo: https://github.com/crate-ci/committed
    rev: v1.1.10
    hooks:
      - id: committed

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.5
    hooks:
      - id: typos
        exclude: |
          (?x)^(
            mascot\.svg
          )$

  - repo: local
    hooks:
      # Mypy is difficult to run pre-commit's isolated environment as it needs
      # to be able to find dependencies.
      - id: mypy
        name: mypy
        entry: hatch run mypy
        language: system
        types:
          - python
        exclude: |
          (?x)^(
            (src/pact|tests|examples)/v2/.*\\.pyi?
          )$
        stages:
          - pre-push
