---
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix

  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      # As above, this only checks for valid JSON files. This implementation
      # allows for comments within JSON files.
      - id: check-json5

  - repo: https://github.com/biomejs/pre-commit
    rev: v1.9.4
    hooks:
      - id: biome-check
        additional_dependencies:
          - '@biomejs/biome@1.9.4'

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        # Exclude python files in pact/** and tests/**, except for the
        # files in src/pact/v3/** and tests/v3/**.
        exclude: ^(src/pact|tests)/(?!v3/).*\.py$
        args:
          - --fix
          - --exit-non-zero-on-fix
      - id: ruff-format
        exclude: ^(pact|tests)/(?!v3/).*\.py$

  - repo: https://github.com/crate-ci/committed
    rev: v1.1.5
    hooks:
      - id: committed

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        exclude: |
          (?x)^(
            .github/PULL_REQUEST_TEMPLATE\.md
          | CHANGELOG.md
          )

  - repo: https://github.com/crate-ci/typos
    rev: v1.29.7
    hooks:
      - id: typos

  - repo: local
    hooks:
      # Mypy is difficult to run pre-commit's isolated environment as it needs
      # to be able to find dependencies.
      - id: mypy
        name: mypy
        entry: hatch run mypy
        language: system
        types:
          - python
        exclude: ^(src/pact|tests|examples|examples/tests)/(?!v3/).*\.py$
        stages:
          - pre-push
