---
name: build ffi

on:
  push:
    tags:
      - pact-python-ffi/*
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  STABLE_PYTHON_VERSION: '310'
  HATCH_VERBOSE: '1'
  FORCE_COLOR: '1'
  CIBW_BUILD_FRONTEND: build

jobs:
  complete:
    name: Build FFI completion check
    if: always()

    permissions:
      contents: none

    runs-on: ubuntu-latest
    needs:
      - build-sdist
      - build-wheels
      - publish

    steps:
      - name: Failed
        run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')

  build-sdist:
    name: Build FFI source distribution

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ env.STABLE_PYTHON_VERSION }}

      - name: Install hatch
        run: uv tool install hatch

      - name: Create source distribution
        working-directory: pact-python-ffi
        run: hatch build --target sdist

      - name: Upload sdist
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: wheels-sdist
          path: pact-python-ffi/dist/*.tar*
          if-no-files-found: error
          compression-level: 0

  build-wheels:
    name: Build FFI wheels on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15-intel
          - os: macos-latest
          - os: ubuntu-24.04-arm
          - os: ubuntu-latest
          - os: windows-11-arm
          - os: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - name: Create wheels
        uses: pypa/cibuildwheel@63fd63b352a9a8bdcc24791c9dbee952ee9a8abc  # v3.3.0
        with:
          package-dir: pact-python-ffi
        env:
          CIBW_BUILD: cp${{ env.STABLE_PYTHON_VERSION }}-*
          HATCH_VERBOSE: '1'

      - name: Upload wheels
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl
          if-no-files-found: error
          compression-level: 0

  publish:
    name: Publish FFI wheels and sdist

    if: >-
      github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/pact-python-ffi/')
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pact-python-ffi

    needs:
      - build-sdist
      - build-wheels

    permissions:
      # Required for creating the release
      contents: write
      # Required for trusted publishing
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - name: Install git cliff and typos
        uses: taiki-e/install-action@763e3324d4fd026c9bd284c504378585777a87d5  # v2.62.57
        with:
          tool: git-cliff,typos

      - name: Update changelog
        run: git cliff --verbose
        working-directory: pact-python-ffi
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Generate release changelog
        id: release-changelog
        working-directory: pact-python-ffi
        run: |
          if ! git cliff \
            --current \
            --strip header \
            --output ${{ runner.temp }}/release-changelog.md ; then
            {
              echo "> [!WARNING]"
              echo ">"
              echo "> No changelog generated. To be filled in."
            } > ${{ runner.temp }}/release-changelog.md
          fi

          {
            echo ""
            echo "<details>"
            echo "<summary>"
            echo ""
            echo "## Pull Requests"
            echo ""
            echo "</summary>"
            echo ""
          } >> ${{ runner.temp }}/release-changelog.md
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Download wheels and sdist
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53  # v6.0.0
        with:
          path: wheelhouse
          merge-multiple: true

      - name: Generate release
        id: release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe  # v2.4.2
        with:
          files: wheelhouse/*
          body_path: ${{ runner.temp }}/release-changelog.md
          draft: false
          prerelease: false
          generate_release_notes: true

      - name: Push build artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          skip-existing: true
          packages-dir: wheelhouse

      - name: Create PR for changelog update
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412  # v7.0.9
        with:
          token: ${{ secrets.GH_TOKEN }}
          commit-message: 'docs: update changelog for ${{ github.ref_name }}'
          title: 'docs: update ffi changelog'
          body: |
            This PR updates the changelog for ${{ github.ref_name }}.
          branch: docs/update-changelog
          base: main
