name: build

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  STABLE_PYTHON_VERSION: "3.12"
  HATCH_VERBOSE: "1"
  FORCE_COLOR: "1"
  CIBW_BUILD_FRONTEND: build

jobs:
  build-sdist:
    name: Build source distribution

    if: github.event_name == 'push' || ! github.event.pull_request.draft
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          # Fetch all tags
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5
        with:
          python-version: ${{ env.STABLE_PYTHON_VERSION }}
          cache: pip

      - name: Install hatch
        run: pip install --upgrade hatch

      - name: Create source distribution
        run: |
          hatch build --target sdist

      - name: Upload sdist
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: wheels-sdist
          path: ./dist/*.tar.*
          if-no-files-found: error
          compression-level: 0

  build-x86_64:
    name: Build wheels on ${{ matrix.os }} (x86, 64-bit)

    if: github.event_name == 'push' || ! github.event.pull_request.draft
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            archs: x86_64
          - os: macos-12
            archs: x86_64
          - os: windows-2019
            archs: AMD64

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          # Fetch all tags
          fetch-depth: 0

      - name: Cache pip packages
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
        with:
          path: ~/.cache/pip
          key: ${{ github.workflow }}-pip-${{ runner.os }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ github.workflow }}-pip-${{ runner.os }}
            ${{ github.workflow }}-pip
            ${{ github.workflow }}

      - name: Filter targets
        id: cibw-filter
        shell: bash
        # Building all wheels on PRs is too slow, so we filter them to target
        # the latest stable version of Python.
        run: |
          if [[ "${{ github.event_name}}" == "pull_request" ]] ; then
            echo "build=cp${STABLE_PYTHON_VERSION/./}-*" >> "$GITHUB_OUTPUT"
          else
            echo "build=*" >> "$GITHUB_OUTPUT"
          fi

      - name: Set macOS deployment target
        if: startsWith(matrix.os, 'macos-')
        run: |
          echo "MACOSX_DEPLOYMENT_TARGET=10.12" >> "$GITHUB_ENV"

      - name: Create wheels
        uses: pypa/cibuildwheel@8d945475ac4b1aac4ae08b2fd27db9917158b6ce # v2.17.0
        env:
          CIBW_ARCHS: ${{ matrix.archs }}
          CIBW_BUILD: ${{ steps.cibw-filter.outputs.build }}

      - name: Upload wheels
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.archs }}
          path: ./wheelhouse/*.whl
          if-no-files-found: error
          compression-level: 0

  build-arm64:
    name: Build wheels on ${{ matrix.os }} (arm64)

    # As this requires emulation, it's not worth running on PRs or master
    if: >-
      github.event_name == 'push' &&
      startsWith(github.event.ref, 'refs/tags')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            archs: aarch64
            build: manylinux
          - os: ubuntu-20.04
            archs: aarch64
            build: musllinux
          - os: macos-12
            archs: arm64
            build: ""

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          # Fetch all tags
          fetch-depth: 0

      - name: Cache pip packages
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
        with:
          path: ~/.cache/pip
          key: ${{ github.workflow }}-pip-${{ runner.os }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ github.workflow }}-pip-${{ runner.os }}
            ${{ github.workflow }}-pip
            ${{ github.workflow }}

      - name: Set up QEMU
        if: startsWith(matrix.os, 'ubuntu-')
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3
        with:
          platforms: arm64

      - name: Create wheels
        uses: pypa/cibuildwheel@8d945475ac4b1aac4ae08b2fd27db9917158b6ce # v2.17.0
        env:
          CIBW_ARCHS: ${{ matrix.archs }}
          CIBW_BUILD: ${{ matrix.build == '' && '*' || format('*{0}*', matrix.build) }}

      - name: Upload wheels
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.archs }}-${{  matrix.build }}
          path: ./wheelhouse/*.whl
          if-no-files-found: error
          compression-level: 0

  publish:
    name: Publish wheels and sdist

    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    runs-on: ubuntu-20.04
    environment: pypi

    needs:
      - build-sdist
      - build-x86_64
      - build-arm64

    permissions:
      # Required for trusted publishing
      id-token: write
      # Required for release creation
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          # Fetch all tags
          fetch-depth: 0

      - name: Download wheels and sdist
        uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d # v4
        with:
          path: wheels
          merge-multiple: true

      - name: Setup Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5
        with:
          python-version: ${{ env.STABLE_PYTHON_VERSION }}

      - name: Update changelog
        id: changelog
        run: |
          pip install --upgrade commitizen

          cz changelog \
            --incremental \
            --template .github/CHANGELOG.md.j2 \
            --dry-run \
            | tail -n+2 \
            > ${{ runner.temp }}/changelog
          echo -e "\n\n## Pull Requests\n\n" >> ${{ runner.temp }}/changelog

          cz changelog \
            --incremental \
            --template .github/CHANGELOG.md.j2

      - name: Generate release
        id: release
        uses: softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564 # v2
        with:
          files: wheels/*
          body_path: ${{ runner.temp }}/changelog
          draft: false
          prerelease: false
          generate_release_notes: true

      - name: Push build artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@81e9d935c883d0b210363ab89cf05f3894778450 # v1.8.14
        with:
          skip-existing: true
          password: ${{ secrets.PYPI_TOKEN }}
          packages-dir: wheels

      - name: Create PR for changelog update
        uses: peter-evans/create-pull-request@9153d834b60caba6d51c9b9510b087acf9f33f83 # v6
        with:
          token: ${{ secrets.GH_TOKEN }}
          commit-message: "chore: update changelog ${{ github.ref_name }}"
          title: "chore: update changelog"
          body: |
            This PR updates the changelog for ${{ github.ref_name }}.
          branch: chore/update-changelog
          base: master
