---
name: build

on:
  push:
    tags:
      - pact-python/*
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  STABLE_PYTHON_VERSION: '39'
  HATCH_VERBOSE: '1'
  FORCE_COLOR: '1'
  CIBW_BUILD_FRONTEND: build

jobs:
  complete:
    name: Build completion check
    if: always()

    permissions:
      contents: none

    runs-on: ubuntu-latest
    needs:
      - build

    steps:
      - name: Failed
        run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')

  build:
    name: Build source distribution and wheel

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@d9e0f98d3fc6adb07d1e3d37f3043649ddad06a1  # v6.5.0
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ env.STABLE_PYTHON_VERSION }}

      - name: Install hatch
        run: uv tool install hatch

      - name: Create source distribution and wheel
        run: hatch build

      - name: Upload sdist
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
        with:
          name: wheels-sdist
          path: ./dist/*.tar*
          if-no-files-found: error
          compression-level: 0

      - name: Upload wheel
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
        with:
          name: wheels-whl
          path: ./dist/*.whl
          if-no-files-found: error
          compression-level: 0

  publish:
    name: Publish wheels and sdist

    if: >-
      github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/pact-python/')
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pact-python

    needs:
      - build

    permissions:
      # Required for creating the release
      contents: write
      # Required for trusted publishing
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Install git cliff and typos
        uses: taiki-e/install-action@ad95d4e02e061d4390c4b66ef5ed56c7fee3d2ce  # v2.58.17
        with:
          tool: git-cliff,typos

      - name: Update changelog
        run: git cliff --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Generate release changelog
        id: release-changelog
        run: |
          git cliff \
            --current \
            --strip header \
            --output ${{ runner.temp }}/release-changelog.md

          echo -e "\n\n## Pull Requests\n\n" >> ${{ runner.temp }}/release-changelog.md
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Download wheels and sdist
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0
        with:
          path: wheelhouse
          merge-multiple: true

      - name: Generate release
        id: release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8  # v2.3.2
        with:
          files: wheelhouse/*
          body_path: ${{ runner.temp }}/release-changelog.md
          draft: false
          prerelease: false
          generate_release_notes: true

      - name: Push build artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc  # v1.12.4
        with:
          skip-existing: true
          packages-dir: wheelhouse

      - name: Create PR for changelog update
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e  # v7.0.8
        with:
          token: ${{ secrets.GH_TOKEN }}
          commit-message: 'docs: update changelog for ${{ github.ref_name }}'
          title: 'docs: update changelog'
          body: |
            This PR updates the changelog for ${{ github.ref_name }}.
          branch: docs/update-changelog
          base: main
