name: docs

on:
  push:

env:
  STABLE_PYTHON_VERSION: "3.12"
  FORCE_COLOR: "1"
  HATCH_VERBOSE: "1"

jobs:
  build:
    name: Build docs

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5
        with:
          python-version: ${{ env.STABLE_PYTHON_VERSION }}
          cache: pip

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Build docs
        run: |
          hatch run mkdocs build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@a753861a5debcf57bf8b404356158c8e1e33150c # v2
        with:
          path: site

  publish:
    name: Publish docs

    if: github.ref == 'refs/heads/master'

    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
