name: Labels

on:
  # For downstream repos, we want to run this on a schedule
  # so that updates propagate automatically. Weekly is probably
  # enough.
  schedule:
    - cron: "20 0 * * 0"
  push:
    branches:
      - master
    paths:
      - .github/labels.yml

jobs:
  sync-labels:
    name: Synchronise labels

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4

      - name: Synchronize labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2
        with:
          config-file: |
            https://raw.githubusercontent.com/pact-foundation/.github/master/.github/labels.yml
            .github/labels.yml
