---
name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

env:
  STABLE_PYTHON_VERSION: '3.13'
  PYTEST_ADDOPTS: --color=yes
  HATCH_VERBOSE: '1'
  FORCE_COLOR: '1'

jobs:
  complete:
    name: Test completion check
    if: always()

    permissions:
      contents: none

    runs-on: ubuntu-latest
    needs:
      - test
      - example
      - format
      - lint
      - typecheck
      - spelling
      - pre-commit

    steps:
      - name: Failed
        run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result,
          'skipped')

  test:
    name: >-
      Test Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os,
      'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
        # Python 3.9 aren't supported on macos-latest (ARM)
        exclude:
          - os: macos-latest
            python-version: '3.9'
        include:
          - os: macos-13
            python-version: '3.9'

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0
          submodules: true

      - name: Set up uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ matrix.python-version }}

      - name: Set PATH on Windows
        if: startsWith(matrix.os, 'windows-')
        shell: pwsh
        run: echo "$pwd/pact-python-ffi/src/pact_ffi" >> $env:GITHUB_PATH

      - name: Set DYLD_LIBRARY_PATH on macOS
        if: startsWith(matrix.os, 'macos-')
        run: echo "DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:$PWD/pact-python-ffi/src/pact_ffi" >> $GITHUB_ENV

      - name: Install Hatch
        run: uv tool install hatch

      - name: Run tests
        run: hatch run test.py${{ matrix.python-version }}:test

      - name: Run tests (v2)
        run: hatch run v2-test.py${{ matrix.python-version }}:test

      - name: Run tests (CLI)
        working-directory: pact-python-cli
        run: hatch run test.py${{ matrix.python-version }}:test

      - name: Run tests (FFI)
        working-directory: pact-python-ffi
        run: hatch run test.py${{ matrix.python-version }}:test

  example:
    name: >-
      Test Python Example ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS'
      || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
        # Python 3.9 aren't supported on macos-latest (ARM)
        exclude:
          - os: macos-latest
            python-version: '3.9'
        include:
          - os: macos-13
            python-version: '3.9'

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ matrix.python-version }}

      - name: Run examples
        shell: bash
        run: |
          set -o errexit
          set -o pipefail

          find examples -name pyproject.toml -print0 |
            while IFS= read -r -d $'\0' file; do
              cd "$(dirname "$file")"
              uv run --python ${{ matrix.python-version }} --group test pytest
            done

      - name: Upload coverage
        if: matrix.python-version == env.STABLE_PYTHON_VERSION && matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24  # v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: examples

      - name: Upload test results
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f  # v1.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  format:
    name: Format

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ env.STABLE_PYTHON_VERSION }}

      - name: Install Hatch
        run: uv tool install hatch

      - name: Format
        run: hatch run format

      - name: Format (CLI)
        working-directory: pact-python-cli
        run: hatch run format

      - name: Format (FFI)
        working-directory: pact-python-ffi
        run: hatch run format
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ env.STABLE_PYTHON_VERSION }}

      - name: Install Hatch
        run: uv tool install hatch

      - name: Lint
        run: hatch run lint

      - name: Lint (CLI)
        working-directory: pact-python-cli
        run: hatch run lint

      - name: Lint (FFI)
        working-directory: pact-python-ffi
        run: hatch run lint

  typecheck:
    name: Typecheck

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ env.STABLE_PYTHON_VERSION }}

      - name: Install Hatch
        run: uv tool install hatch

      - name: Typecheck
        run: hatch run typecheck

      - name: Typecheck (CLI)
        working-directory: pact-python-cli
        run: hatch run typecheck

  spelling:
    name: Spell check

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Spell Check Repo   https://github.com/crate-ci/typos/commit/
        uses: crate-ci/typos@a67079b4ae32e18c3f53d75368c52ce53b5fb56b  # v1.35.4

  pre-commit:
    name: Pre-commit

    runs-on: ubuntu-latest

    env:
      PRE_COMMIT_HOME: ${{ github.workspace }}/.pre-commit

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0

      - name: Cache pre-commit
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809  # v4.2.4
        with:
          path: |
            ${{ env.PRE_COMMIT_HOME }}
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Set up uv
        uses: astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc  # v6.4.3
        with:
          enable-cache: true
          cache-suffix: pre-commit
          cache-dependency-glob: ''

      - name: Install pre-commit
        run: uv tool install pre-commit

      - name: Run pre-commit
        run: pre-commit run --show-diff-on-failure --color=always --all-files
